.selectionBox {
    width: 100%;
    display: block;
    margin-bottom: 0%;
}

.colorSelectorLeft {
    display: inline-block;
    color: white;
    margin-left: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.colorSelectorRight {
    /*
    margin-left: auto;
    margin-right: 0;
    display: inline-block;
    */
    float: right;
    color: white;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.speedSelector {
    width: 50%;
    margin: auto;
}

.sensitivitySelector {
    width: 50%;
    margin: auto;
}

.noiseFloorSelector {
    width: 50%;
    margin: auto;
}

.subtitle {
    color: white;
    margin: 15px;
}

.speedSelectorBox {
    text-align: center;
}

.submit {
    margin: auto;
    font-size: 20px;
}

p {
    text-align: center;
}

.title {
    font-size: 30px;
    margin: 15px;
}

.selectionBox div, .selectionBox p {
    font-size: 25px;
}

.selectionBox .title {
    color: white;
}

.colorSelector {
    
}

.connection {
    width: 70%;
    text-align: center;
    color: white;
    margin: 0px;
    display: inline-block;
}

.connection button {
    display: inline-block;
    margin: 20px;
    font-size: 20px;
}

.connection p {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.dropdownContainer {
    width: 15%;
    margin: auto;
    margin-top: 20px;
    float: right;
    font-size: 25px;
    color: white;
    text-align: center;
}

.firmwareContainer {
    width: 15%;
    margin: auto;
    float: left;
    font-size: 15px;
    color: white;
    text-align: center;
}

.dropdownContainer select {
    font-size: 18px;
}

.tile {
    border: 6px solid white;
    background: rgba(0, 0, 0, .6);
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 640px;
}